.modal-overlay
.modal-form
  .offer
    Записаться на диагностику

    .small
      Оставьте контактные данные и в течение 15 минут с вами свяжется наш менеджер

  .form
    %input{type: :text, name: :username, placeholder: 'Ваше имя *'}
    %input{type: :text, name: :phone, placeholder: 'Ваш телефон*'}
    %input{type: :text, name: :model, placeholder: 'Модель автомобиля'}
    .button.send-form


.modal-thank-you
  .modal-header
    Спасибо!
  .body
    Мы свяжемся с вами очень скоро.
    .button1#hide-thank-you
      Я буду ждать