.model.first
  .info
    .info-name
      RACECHIP Ultimate
    .info-params
      .param.clearfix
        .param-name
          Увеличение мощности
        .param-value
          до
          %span.red 31%

      .param.clearfix
        .param-name
          Увеличение крутящего момента
        .param-value
          до
          %span.red 26%

      .param.clearfix
        .param-name
          Экономия топлива (100км)
        .param-value
          %span.red 1л