.model.second
  .info
    .info-name
      RACECHIP
    .info-params
      .param.clearfix
        .param-name
          Увеличение мощности
        .param-value
          до
          %span.red 20%

      .param.clearfix
        .param-name
          Увеличение крутящего момента
        .param-value
          до
          %span.red 20%

      .param.clearfix
        .param-name
          Экономия топлива (100км)
        .param-value
          до
          %span.red 1л