.sample.first
  .info
    .info-name
      AUDI A6 3.0T (2008г.)
    .info-params
      .param.clearfix
        .param-name
          Мощность двигателя
        .param-value
          250лс  /
          %span.red 290лс

      .param.clearfix
        .param-name
          Крутящий момент
        .param-value
          390нм  /
          %span.red 450нм

      .param.clearfix
        .param-name
          Расход топлива (100км)
        .param-value
          9л  /
          %span.red 8.1л