.sample.first
  .info
    .info-name
      AUDI A4 2.0 TDI
    .info-params
      .param.clearfix
        .param-name
          Мощность двигателя
        .param-value
          140лс  /
          %span.red 170лс

      .param.clearfix
        .param-name
          Крутящий момент
        .param-value
          320нм  /
          %span.red 490нм

      .param.clearfix
        .param-name
          Расход топлива (100км)
        .param-value
          до
          %span.red 10%