.sample.second
  .info
    .info-name
      AUDI Allroad 2.7T
    .info-params
      .param.clearfix
        .param-name
          Мощность двигателя
        .param-value
          250лс  /
          %span.red 290лс

      .param.clearfix
        .param-name
          Крутящий момент
        .param-value
          350нм  /
          %span.red 460нм

      .param.clearfix
        .param-name
          Расход топлива (100км)
        .param-value
          до
          %span.red 10%