.sample.third
  .info
    .info-name
      Volkswagen Touareg 3.0TDI 
    .info-params
      .param.clearfix
        .param-name
          Мощность двигателя
        .param-value
          225лс  /
          %span.red 270лс

      .param.clearfix
        .param-name
          Крутящий момент
        .param-value
          500нм  /
          %span.red 575нм

      .param.clearfix
        .param-name
          Расход топлива (100км)
        .param-value
          до
          %span.red 10%